<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <extension
   		point="org.eclipse.ui.ide.projectNatureImages">
   		<image 
   			icon="icons/BooProject.gif"
   			natureId="monolipse.core.booNature"
   			id="monolipse.ui.booNatureImage">
   		</image>
   	</extension>


   <extension
         point="org.eclipse.ui.editors">
      <editor
            name="Boo Source Code Editor"
            extensions="boo"
            icon="icons/BooFile.png"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            class="monolipse.ui.editors.BooEditor"
            id="monolipse.ui.editors.BooEditor">
      </editor>
      
      <editor
            name="C# Source Code Editor"
            extensions="cs"
            icon="icons/CSharpFile.png"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            class="monolipse.ui.editors.csharp.CSharpEditor"
            id="monolipse.ui.editors.csharp.CSharpEditor">
      </editor>
      
   </extension>
   
   <extension
         point="org.eclipse.ui.commands">
	<!-- categories -->
      <category
            name="Text Editing"
            description="Boo source editor commands"
            id="monolipse.ui.commands.category.source">
      </category>      
      
      <command
            name="Expand Code"
            description="Expands the code currently being edited"
            categoryId="monolipse.ui.commands.category.source"
            id="monolipse.ui.editors.actions.ExpandCodeAction">
      </command>
   </extension>
   
   <extension 
   	point="org.eclipse.ui.contexts">
   	
	   	<context
            name="Editing Boo Code"
            description="Editing Boo code"
            parentId="org.eclipse.ui.textEditorScope"
            id="monolipse.ui.booEditorScope">
      </context>
   </extension>
   
   
   <extension
         point="org.eclipse.ui.bindings">
         
      <!--  win32:  M1=CTRL,    M2=SHIFT, M3=ALT, M4=-
            carbon: M1=COMMAND, M2=SHIFT, M3=ALT, M4=CTRL -->
      
<!-- edit -->
      <key
            sequence="M1+M2+M3+E"
            contextId="monolipse.ui.booEditorScope"
            commandId="monolipse.ui.editors.actions.ExpandCodeAction"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"/>
   </extension>
   
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            id="monolipse.ui.contribution1"
            nameFilter="*"
            objectClass="org.eclipse.core.resources.IProject">
         <action
               class="monolipse.ui.resources.ToggleNatureAction"
               enablesFor="+"
               id="monolipse.ui.addRemoveNatureAction"
               label="Toggle Boo Nature"
               menubarPath="additions"/>
      </objectContribution>
   </extension>
   
   <extension
         point="org.eclipse.ui.preferencePages">        
         
       <page
            name="Mono/.NET"            
            id="monolipse.ui.preferences.GeneralPreferencePage"
            class="monolipse.ui.preferences.GeneralPreferencePage">
        
      </page>      
            
       <page
            name="Installed Runtimes"
            class="monolipse.ui.preferences.InstalledRuntimesPreferencePage"
            id="monolipse.ui.preferences.InstalledRuntimesPreferencePage"
            category="monolipse.ui.preferences.GeneralPreferencePage">
            <keywordReference id="monolipse.ui.runtimes"/>
      </page>
      
      <page
            class="monolipse.ui.preferences.BooPreferencePage"
            id="monolipse.ui.preferences.BooPreferencePage"
            category="monolipse.ui.preferences.GeneralPreferencePage"
            name="Boo">
            <keywordReference id="monolipse.ui.general"/>
       </page>
      
   </extension>
   
   <extension
   		point="org.eclipse.ui.keywords">
      <keyword
            label="General"
            id="monolipse.ui.general"/>
      <keyword
            label="Installed CLRs"
            id="monolipse.ui.runtimes"/>
   </extension>
   
   
   
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer class="monolipse.ui.preferences.PreferenceInitializer"/>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            class="monolipse.ui.resources.BooAssemblySourcePropertyPage"
            id="monolipse.ui.resources.booAssemblySourcePropertyPag"
            name="Boo Assembly Properties">
            
            <enabledWhen>
            <instanceof
                  value="org.eclipse.core.resources.IFolder">
            </instanceof>
            </enabledWhen>
      </page>
   </extension>
   <extension
         point="org.eclipse.ui.propertyPages">
      <page
            class="monolipse.ui.views.ReferenceContainerPropertyPage"
            id="monolipse.ui.views.booReferenceContainerPropertyPage"
            name="Assembly References">
            <enabledWhen>
            <instanceof
                  value="monolipse.ui.views.ReferenceContainer">
            </instanceof>
            </enabledWhen>
      </page>
   </extension>
   
   <extension
         point="org.eclipse.ui.perspectives">
         <perspective
         	id="monolipse.ui.booPerspective"
         	name="Boo Perspective"
         	class="monolipse.ui.perspectives.BooPerspective"
         	icon="icons/BooPerspective.png">
         </perspective>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="monolipse.ui"
            name="Boo"/>
      <view
            category="monolipse.ui"
            class="monolipse.ui.views.BooExplorerView"
            icon="icons/BooExplorer.png"
            id="monolipse.ui.views.BooExplorerView"
            name="Boo Explorer"/>
            
      <view
            category="monolipse.ui"
            class="monolipse.ui.views.BooInteractiveInterpreterView"
            icon="icons/BooScript.png"
            id="monolipse.ui.views.BooInteractiveInterpreterView"
            name="Boo Interactive Interpreter"/>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
         <category
         	id="monolipse.ui.wizards"
         	name="Boo" />

         <wizard 
         	category="monolipse.ui.wizards"
         	id="monolipse.ui.wizards.NewBooProjectWizard"
         	name="Boo Project"
         	class="monolipse.ui.wizards.NewBooProjectWizard"
         	icon="icons/NewBooProject.png"
         	project="true" />

         <wizard
               category="monolipse.ui.wizards"
               class="monolipse.ui.wizards.NewClassWizard"
               icon="icons/BooFile.png"
               id="monolipse.ui.wizards.NewClassWizard"
               name="Boo Class"/>
               
         <wizard
               category="monolipse.ui.wizards"
               class="monolipse.ui.wizards.NewAssemblySourceWizard"
               icon="icons/BooFile.png"
               id="monolipse.ui.wizards.NewAssemblySourceWizard"
               name="Boo Assembly Source"/>
   </extension>
   
   <extension point="org.eclipse.debug.ui.launchConfigurationTypeImages">
       <launchConfigurationTypeImage
               icon="icons/BooScript.png"
               configTypeID="monolipse.core.scriptLaunchConfigurationType"
 		       id="monolipse.ui.launchConfigurationTypeImage.script">
    </launchConfigurationTypeImage>
	</extension>
	
	<extension point="org.eclipse.debug.ui.launchConfigurationTypeImages">
       <launchConfigurationTypeImage
               icon="icons/BooScript.png"
               configTypeID="monolipse.core.appLaunchConfigurationType"
 		       id="monolipse.ui.launchConfigurationTypeImage.app">
    </launchConfigurationTypeImage>
	</extension>
	
	<extension point="org.eclipse.debug.ui.launchConfigurationTabGroups">
    <launchConfigurationTabGroup
        type="monolipse.core.scriptLaunchConfigurationType"
        class="monolipse.ui.launching.BooScriptTabGroup"
        id="monolipse.ui.launching.launchConfigurationTabGroup.booScript">
    </launchConfigurationTabGroup>
	</extension>
	
	<extension point="org.eclipse.debug.ui.launchConfigurationTabGroups">
    <launchConfigurationTabGroup
        type="monolipse.core.appLaunchConfigurationType"
        class="monolipse.ui.launching.BooScriptTabGroup"
        id="monolipse.ui.launching.launchConfigurationTabGroup.booApp">
    </launchConfigurationTabGroup>
	</extension>
	
	
	<extension point="org.eclipse.debug.ui.launchShortcuts">
    <shortcut
        id="monolipse.ui.booScriptLaunchShortcut"
        class="monolipse.ui.launching.BooScriptLaunchShortcut"
        label="Boo Script"
        icon="icons/BooScript.png"
        modes="run, debug">
            <perspective id="monolipse.ui.booPerspective"/>
            <perspective id="org.eclipse.debug.ui.DebugPerspective"/>
            
          <contextualLaunch>
           <enablement>
             <with variable="selection">
               <count value="1"/>
               <iterate>
               <and>
	               <test property="org.eclipse.debug.ui.matchesPattern" value="*.boo"/>
	           </and>
               </iterate>
             </with>
           </enablement>
  		 </contextualLaunch>
    </shortcut>
	</extension>	
	
	<extension point="org.eclipse.debug.ui.launchShortcuts">
    <shortcut
        id="monolipse.ui.booApplicationLaunchShortcut"
        class="monolipse.ui.launching.BooApplicationLaunchShortcut"
        label="Mono Application"
        icon="icons/BooScript.png"
        modes="run, debug">
            <perspective id="monolipse.ui.booPerspective"/>
            <perspective id="org.eclipse.debug.ui.DebugPerspective"/>
            
          <contextualLaunch>
           <enablement>
             <with variable="selection">
               <count value="1"/>
               <iterate>
               <and>
               	    <or>
	               <test property="org.eclipse.debug.ui.matchesPattern" value="*.boo"/>
	               <test property="org.eclipse.debug.ui.matchesPattern" value="*.cs"/>
	               </or>
	           </and>
               </iterate>
             </with>
           </enablement>
  		 </contextualLaunch>
    </shortcut>
	</extension>	

   <extension point="org.eclipse.ui.commands">
	      <command
            name="Boo Script"
            description="Boo Script"
            categoryId="org.eclipse.debug.ui.category.run"
            id="monolipse.ui.booScriptLaunchShortcut.run">
    	  </command>
    </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension targetID="org.eclipse.ui.resourcePerspective">
         <view
               id="monolipse.ui.views.BooInteractiveInterpreterView"
               ratio="0.5"
               relationship="right"
               relative="org.eclipse.ui.views.TaskList"/>
      </perspectiveExtension>
   </extension>
   
	<extension point="org.eclipse.ui.console.consolePatternMatchListeners">
		<consolePatternMatchListener
			id="monolipse.ui.debug.StackTracePatternMatchListener"
			regex="in\s.+\.(boo|js|cs):\d+"
			class="monolipse.ui.debug.StackTracePatternMatchListener"
			qualifier="(boo|js|cs):">
			<enablement>
			</enablement>
		</consolePatternMatchListener>
		
		<consolePatternMatchListener
			id="monolipse.ui.debug.CompilerOutputPatternMatchListener"
			regex="\b.+\.(boo|cs|js)\(\d+,\d+\)"
			class="monolipse.ui.debug.CompilerOutputPatternMatchListener"
			qualifier="(js|cs|boo)\(">
			<enablement>
			</enablement>
		</consolePatternMatchListener>
	</extension>
	
	<extension point="org.eclipse.ui.decorators"> 
		<decorator
			id="monolipse.ui.BooAssemblySourceDecorator" 
			class="monolipse.ui.decorators.BooAssemblySourceDecorator"
			label="Boo Assembly Source Decorator"
			state="true" 
			icon="icons/AssemblySourceDecorator.gif"
			lightweight="true" 
			location="TOP_LEFT">
			
		<enablement>
			<objectClass name="org.eclipse.core.resources.IFolder" />
		</enablement>
			
		</decorator>
	</extension>
	

</plugin>
