<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         id="unityBuilder"
         name="Unity Project Builder"
         point="org.eclipse.core.resources.builders">
      <builder
            hasNature="true">
         <run
               class="monolipse.unity.builder.UnityBuilder">
         </run>
      </builder>
   </extension>
   
   <extension
         id="unityNature"
         name="Unity Project Nature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run
               class="monolipse.unity.builder.UnityNature">
         </run>
      </runtime>
      <builder
            id="monolipse.unity.unityBuilder">
      </builder>
   </extension>
   
   <extension
   		point="org.eclipse.ui.ide.projectNatureImages">
   		<image 
   			icon="icons/UnityNature.png"
   			natureId="monolipse.unity.unityNature"
   			id="monolipse.unity.unityNatureImage">
   		</image>
   	</extension>
   
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="true"
            objectClass="org.eclipse.core.resources.IProject"
            nameFilter="*"
            id="monolipse.unity.toggleNatureContribution">
         <action
               label="Toggle Unity Nature"
               class="monolipse.unity.builder.ToggleNatureAction"
               menubarPath="additions"
               enablesFor="+"
               id="monolipse.unity.addRemoveNatureAction">
         </action>
      </objectContribution>
   </extension>
   <extension
         id="xmlProblem"
         name="XML Problem"
         point="org.eclipse.core.resources.markers">
      <super
            type="org.eclipse.core.resources.problemmarker">
      </super>
      <persistent
            value="true">
      </persistent>
   </extension>
   <extension
         point="org.eclipse.ui.importWizards">
      <category
            name="Unity"
            id="monolipse.unity.importWizards.unityCategory">
      </category>
      <wizard
            name="Import Existing Unity Project"
            icon="icons/unity16x16.png"
            category="monolipse.unity.importWizards.unityCategory"
            class="monolipse.unity.importWizards.ImportUnityProjectWizard"
            id="monolipse.unity.importWizards.ImportUnityProjectWizard">
         <description>
            Import a Unity project into the workspace.
         </description>
      </wizard>
   </extension>
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            name="Unity Preferences"
            class="monolipse.unity.preferences.UnityPreferencePage"
            id="monolipse.unity.preferences.UnityPreferencePage">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="monolipse.unity.preferences.PreferenceInitializer">
      </initializer>
   </extension>
   
   <extension point="org.eclipse.core.expressions.propertyTesters">
    <propertyTester
      id="monolipse.unity.propertytesters.RootResourceTester"
      type="org.eclipse.core.resources.IResource"
      namespace="org.eclipse.core.resources"
      properties="isRootResource"
      class="monolipse.unity.propertytesters.RootResourceTester">
    </propertyTester>
  </extension>
  
  <extension point="org.eclipse.core.expressions.propertyTesters">
    <propertyTester
      id="monolipse.unity.propertytesters.InUnityProjectTester"
      type="org.eclipse.core.resources.IResource"
      namespace="org.eclipse.core.resources"
      properties="inUnityProject"
      class="monolipse.unity.propertytesters.InUnityProjectTester">
    </propertyTester>
  </extension>
   
	<extension point="org.eclipse.ui.navigator.navigatorContent">
		<commonFilter
				description="Hides Unity temporary folders (Temp and Library)"
        id="monolipse.unity.contentFilters.hideTempFolders"
        name="Unity temporary folders"
        activeByDefault="true">
        <filterExpression>
        	<adapt type="org.eclipse.core.resources.IFolder">
        		<and>
        			<test property="org.eclipse.core.resources.inUnityProject" value="true" forcePluginActivation="true" />
	        		<test property="org.eclipse.core.resources.isRootResource" value="true" forcePluginActivation="true" />
	        		<or>
	        			<test property="org.eclipse.core.resources.name" value="Temp" />
	        			<test property="org.eclipse.core.resources.name" value="Library" />
	        			<test property="org.eclipse.core.resources.name" value="ProjectSettings" />
	        		</or>
        		</and>
        	</adapt>
        </filterExpression>
    </commonFilter>
	</extension>
	
	<extension point="org.eclipse.ui.navigator.navigatorContent">
		<commonFilter
				description="Hides Unity meta files (*.meta)"
        id="monolipse.unity.contentFilters.hideMetaFiles"
        name="Unity meta files"
        activeByDefault="true">
        <filterExpression>
        	<adapt type="org.eclipse.core.resources.IFile">
        		<and>
        			<test property="org.eclipse.core.resources.inUnityProject" value="true" forcePluginActivation="true" />
	        		<test property="org.eclipse.core.resources.name" value="*.meta" />
        		</and>
        	</adapt>
        </filterExpression>
    </commonFilter>
	</extension>
	
	<extension point="org.eclipse.ui.navigator.navigatorContent">
		<commonFilter
				description="Hides Visual Studio and MonoDevelop files (*.csproj, *.unityproj, *.booproj, *.pidb, *.userpref, *.suo)"
        id="monolipse.unity.contentFilters.hideVisualStudioFiles"
        name="Visual Studio temporary files"
        activeByDefault="true">
        <filterExpression>
        	<adapt type="org.eclipse.core.resources.IResource">
        		<and>
	        		<test property="org.eclipse.core.resources.isRootResource" value="true" forcePluginActivation="true" />
	        		<or>
	        			<adapt type="org.eclipse.core.resources.IFile">
	        				<or>
			        			<test property="org.eclipse.core.resources.name" value="*.csproj" />
			        			<test property="org.eclipse.core.resources.name" value="*.unityproj" />
			        			<test property="org.eclipse.core.resources.name" value="*.booproj" />
			        			<test property="org.eclipse.core.resources.name" value="*.suo" />
			        			<test property="org.eclipse.core.resources.name" value="*.pidb" />
			        			<test property="org.eclipse.core.resources.name" value="*.userprefs" />
			        		</or>
			        	</adapt>
			        	<adapt type="org.eclipse.core.resources.IFolder">
	        				<or>
			        			<test property="org.eclipse.core.resources.name" value="obj" />
			        			<test property="org.eclipse.core.resources.name" value="bin" />
			        		</or>
			        	</adapt>
	        		</or>
        		</and>
        	</adapt>
        </filterExpression>
    </commonFilter>
	</extension>
	
	<extension point="org.eclipse.ui.navigator.navigatorContent">
		<commonFilter
				description="Hides ReSharper folders (_ReSharper.*)"
        id="monolipse.unity.contentFilters.hideReSharperFolders"
        name="ReSharper folders"
        activeByDefault="true">
        <filterExpression>
        	<adapt type="org.eclipse.core.resources.IFolder">
        		<and>
	        		<test property="org.eclipse.core.resources.name" value="_ReSharper.*" />
        		</and>
        	</adapt>
        </filterExpression>
    </commonFilter>
	</extension>
		
		<extension point="org.eclipse.ui.navigator.viewer">
		    <viewerContentBinding
		          viewerId="org.eclipse.ui.navigator.ProjectExplorer">
		          <includes>
		            <contentExtension pattern="monolipse.unity.contentFilters.hideTempFolders"/>
		            <contentExtension pattern="monolipse.unity.contentFilters.hideVisualStudioFiles"/>
		            <contentExtension pattern="monolipse.unity.contentFilters.hideMetaFiles" />
		            <contentExtension pattern="monolipse.unity.contentFilters.hideReSharperFolders" />
		          </includes>
		    </viewerContentBinding>
		</extension>

</plugin>
