<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

	<extension-point id="listeners" name="Test Listeners"/>


   <extension
         point="org.eclipse.ui.views">
      <view
            name="NUnit Tests"
            icon="icons/nunit.gif"
            category="monolipse.ui"
            class="monolipse.nunit.views.NUnitView"
            id="monolipse.nunit.views.NUnitView">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="monolipse.ui.booPerspective">
         <view
               relative="org.eclipse.ui.views.TaskList"
               relationship="stack"
               id="monolipse.nunit.views.NUnitView">
         </view>
      </perspectiveExtension>
   </extension>
   
   <extension
         point="org.eclipse.debug.core.launchConfigurationTypes">
         
         <launchConfigurationType
		         id="monolipse.nunit.testLaunchConfigurationType"
                 name="NUnit Test" 
                 modes="run" 
                 delegate="monolipse.nunit.launching.NUnitLaunchConfigurationDelegate" />
   </extension>   
      
	<extension point="org.eclipse.debug.ui.launchConfigurationTypeImages">
       <launchConfigurationTypeImage
               icon="icons/nunit.gif"
               configTypeID="monolipse.nunit.testLaunchConfigurationType"
 		       id="monolipse.nunit.launchConfigurationTypeImage.test">
    </launchConfigurationTypeImage>
	</extension>
	
	<extension point="org.eclipse.debug.ui.launchConfigurationTabGroups">
    <launchConfigurationTabGroup
        type="monolipse.nunit.testLaunchConfigurationType"
        class="monolipse.nunit.launching.NUnitTabGroup"
        id="monolipse.nunit.launching.launchConfigurationTabGroup.test">
    </launchConfigurationTabGroup>
	</extension>
	
	<extension point="org.eclipse.debug.ui.launchShortcuts">
    <shortcut
        id="monolipse.nunit.testLaunchShortcut"
        class="monolipse.nunit.launching.NUnitLaunchShortcut"
        label="NUnit Test"
        icon="icons/nunit.gif"
        modes="run">
            <perspective id="monolipse.ui.booPerspective"/>
            <perspective id="org.eclipse.debug.ui.DebugPerspective"/>
            
          <contextualLaunch>
           <enablement>
             <with variable="selection">
               <count value="1"/>
               <iterate>
               <and>
               		<or>
	               		<test property="org.eclipse.debug.ui.matchesPattern" value="*.boo"/>
	               		<adapt type="monolipse.core.IAssemblySource"/>
	               	</or>
	           </and>
               </iterate>
             </with>
           </enablement>
  		 </contextualLaunch>
    </shortcut>
	</extension>
	
	<extension point="org.eclipse.debug.core.launchConfigurationTypes">
    	<launchConfigurationType
           delegate="monolipse.nunit.launching.TestRunnerLaunchConfigurationDelegate"
           public="false"
           name="NUnit Support"
           modes="run"
           id="monolipse.nunit.support">
    	</launchConfigurationType>
	</extension>
	
	
	<!--	
	<extension point="monolipse.nunit.listeners">
		<listener class="monolipse.nunit.views.DialogListener" />
	</extension>
	-->

</plugin>
